.home-page {
    .hero-section {
        .hero-box{
            background-color: #384050;
            max-width: 1300px;
            margin: 0 auto;
        }

        h1 {
            letter-spacing: -1px;
        }

        .btn-light {
            color: #343a40;
            transition: transform 0.2s;
            &:hover {
                transform: scale(1.05);
                background-color: #82B864;
            }
        }
    }

    .how-it-works {
        background-color: #f1f8fc !important;
        max-width: 1300px;
        margin: 0 auto;

        .section-title {
            font-size: 2.5rem;
            color: #343a40;
        }
        
        .step-card {
            transition: all 0.3s ease;

            &:hover {
                transform: translateY(-10px);
                background-color: #00497c;

                .step-number {
                    color: #f1f8fc !important;
                }

                .card-text, p {
                    color: #f1f8fc !important;
                }
            }
        }

        .step-number {
            font-size: 1.5rem;
            font-weight: bold;
            color: #6c757d;
        }
    }
}

.bg-light-blue-section {
    background-color: #f1f8fc;
    border: 1px solid #e1eef5;
}

.artisan-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    .profile-icon-container {
        text-align: left;
        color: #000;
    }

    &:hover {
        transform: translateY(-8px);
        box-shadow: 0 12px 24px rgba(0,0,0,0.1) !important;
        background-color: #00497c;
        color: white;

        .text-muted { color: #cbd5e0 !important; }
        .profile-icon-container { color: white; }
        }
}