.navbar {
  background-color: $primary-region !important;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  min-height: 140px;

  .container {
    align-items: center;
  }
}

  .navbar-brand {
    padding: 0;
    margin-right: 2rem;

    .navbar-logo {
      height: 100px;
      width: auto;
      transition: all 0.3s ease;
          
        @include media-breakpoint-up(md) {
          height: 140px;
      }
    }
    
    &:focus {
      outline: 3px solid $active-gold;
      outline-offset: 5px;
    }
  }

  .navbar-toggler {
    border: 2px solid rgba(255, 255, 255, 0.5);
    &:focus {
      box-shadow: 0 0 0 3px $active-gold;
    }
  }

  .nav-link {
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    transition: color 0.2s;

    padding: 12px 20px;

    &:hover {
      color: $active-gold !important;
    }

    &.active {
      color: #fff !important;
      font-weight: 600;
    }

    &:focus {
      outline: 3px solid $active-gold !important;
      outline-offset: -2px;
      border-radius: 4px;
    }
  }

// --- MEDIA QUERIES (Mobile First) ---

// Da tablet/desktop in su
@include media-breakpoint-up(lg) {
  .navbar {
    padding: 0.5rem 2rem;

    .nav-link {
      padding: 0.5rem 1rem; // Padding standard per desktop
      
      &.active::after {
        bottom: 0; // Riposiziona la linea sotto il testo
      }
    }
  }
}

// Riduzione del movimento se l'utente lo ha impostato nel sistema (Accessibilità)
@media (prefers-reduced-motion: reduce) {
  .navbar, .nav-link {
    transition: none !important;
  }
}